[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opentelemetry-api = "*"
opentelemetry-sdk = "*"
flask = "*"
opentelemetry-instrumentation = "*"
opentelemetry-instrumentation-flask = "*"
opentelemetry-exporter-jaeger = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
